body {
    font-family: 'Arial', sans-serif;
  }
  
  .topo {
    background-color: #F2F4FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  .topo img {
    flex-direction: row;
    width: 300px; 
    height: auto; 
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: 30px;
  
  
  }
  
  .topo h1 {
    margin: 0; 
    margin-left: 10px;
    margin-top: -150px;
    margin-bottom: -20px;
  }
  
  .topo h2{
    font-size: 18px;
  }

.utilizacao-image {
  display: flex;
  background-image: url('./imagens/celular\ pessoa.jfif');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 800px; 
  height: 359px; 
  float: right; 
  margin-top: -257px;
  margin-right: -105px;

}

.container {
  text-align: center; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  
}

.container img {
  max-width: 200px; 
  height: auto; 
}

section {
  flex: 1; 
  margin-right: 20px; 
}

section:last-child {
  margin-right: 0; 
  margin-bottom: 50px;
}

.botao-principal{
  display: inline-block;
  text-decoration: none;
  padding: 20px 400px; 
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 50px;
  background: rgba(0, 148, 255, 80%);
}

.btn-container {
  text-align: center;
}

.botoes-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
  margin-bottom: 50px;
}

.botao {
  padding: 20px 40px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 360px;
  background: rgba(0, 148, 255, 50%);
  width: 200px;
  height: 70px;
}
